@import "colors";

///
.cat-microsoft-graph {
    color: $white;
    background-color: $orange;
}

.cat-v2-endpoint {
    color: $white;
    background-color: $azure;
}

.cat-visual-studio,
.cat-uwp {
    color: $white;
    background-color: $vs;
}

.cat-windows,
.cat-windows-10,
.cat-microsoft-edge,
.cat-linux {
    color: $white;
    background-color: $windows;
}

.cat-language,
.cat-ruby,
.cat-vb,
.cat-json,
.cat-javascript {
    color: $white;
    background-color: $cyan;
}

.cat-standards,
.cat-oauth-2-0 {
    color: $white;
    background-color: $teal;
}

.car-azure,
.cat-azure-ad {
    color: $white;
    background-color: $azure;
}

.cat-office,
.cat-office-365,
.cat-outlook-web-add-ins,
.cat-office-js {
    color: $white;
    background-color: $office;
}