// Core
$blue: #00a1f1;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f65314;
$orange: #fd7e14;
$yellow: #ffbb00;
$green: #7cbb00;
$teal: #20c997;
$cyan: #14bcd4;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;


// Brand
$office: #D83B01;
$azure: #00BCF2;
$bing: #008272;
$skype: #00AEEF;
$vs: #5C2D91;
$windows: #0078D4;
$cortana: #00AEEF;

// Misc
$color_dark_blue: #0050c5;
$color_blue: #0078d7;
$color_light_blue: #d5e0ff;
$color_border_light: #e0e0e0;
$color_mercury: #e3e3e3;
$light_shade: rgba(0, 0, 0, 0.05);
$color_iron: #d3d6db;
$color_alabaster: #f9f9f9;
$color_shark: #24292e;
$color_mabel_approx: #d9f6ff;
$color_french_pass_approx: #bff1ff;
$color_code_back: #fdfdfd;