
@import "colors";

body {
    background: #f2f2f2;
}

// Sizes
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
// Mixins
@mixin code {
    border: 1px solid $color_iron;
    background-color: $color_code_back; //font-size: 0.875rem;
    color: $color_shark;
}

@mixin commonHeaders {
    font-style: normal;
    font-weight: 300;
    word-wrap: break-word;
}

a {
    background-color: transparent;
    color: $color_dark_blue;
    cursor: pointer;
    text-decoration: none;
    word-wrap: break-word;
    &:hover {
        text-decoration: underline;
        color: $color_blue;
    }
    &:active {
        color: $color_blue;
    }
    &:visited {
        color: $color_blue;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include commonHeaders;
}

hr {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
    overflow: visible;
    height: 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: $color_border_light;
}

.subtle {
    color: #333;
}

header {
    margin-bottom: 10px;
    .headerImage {
        max-height: 260px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
    }
    .headerBlock {
        background: linear-gradient(to bottom, #0078d7 0%, #09a2ce);
        box-shadow: 0 12px 45px -8px rgba(0, 120, 215, .35);
        margin-bottom: 20px;
    }
    .headerAvatar {
        @media (min-width: $xs) {
            height: 48px;
            width: 48px;
            margin: 10px;
        }
        @media (min-width: $sm) {
            height: 75px;
            width: 75px;
            margin: 20px;
        }
        @media (min-width: $md) {
            height: 120px;
            width: 120px;
            margin: 30px;
        }
    }
    .title {
        h1 {
            font-size: 3.5rem;
            line-height: 1.3;
            padding-top: 20px;
        }
        h2 {
            font-size: 1.4rem;
            font-style: italic;
            padding: 10px 0px 10px 0px;
        }
        padding-bottom: 20px;
    }
}

footer {
    margin-top: 10px;
    padding: 0px;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
}

blockquote {
    display: block;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color_mabel_approx;
    box-sizing: border-box;
    border-radius: .6em;
    border-color: $color_french_pass_approx;
    margin-top: 1.5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .2em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

blockquote.warning {
    background-color: $yellow;
    &:before {
        content: "\26A0  Warning!";
        font-weight: 500;
        font-size: 1.3em;
    }
}

blockquote.danger {
    background-color: $red;
    &:before {
        content: "\26D4  Danger!";
        font-weight: 500;
        font-size: 1.3em;
    }
}

blockquote.info {
    background-color: $azure;
    color: $white;
}

blockquote.key {
    background-color: $green;
    color: $white;
}

blockquote.tip {
    background-color: $blue;
    color: $white;
    &:before {
        content: "\1F6C8  Tip!";
        font-weight: 500;
        font-size: 1.3em;
    }
}

pre {
    @include code;
    overflow: auto;
    border-radius: .6em;
    padding: 1em;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
    code {
        border: 0;
        padding: 0;
        display: block;
        background-color: transparent;
    }
    &.wrap {
        white-space: pre-wrap;
    }
}

.bg-mblue {
    background: #0067b8;
}

.sitePage {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
    background: #FFF;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.sitePost {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
    background: #FFF;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

code {
    @include code;
    white-space: pre;
    border-radius: .2em;
    padding: .1em;
    padding-left: .4em;
    padding-right: .4em;
    direction: ltr;
    * {
        white-space: nowrap;
    }
}

.title {
    h1 {
        font-size: 3.5rem;
        line-height: 1.3;
        padding-top: 40px;
    }
    h2 {
        font-size: 1.4rem;
        font-style: italic;
        padding: 10px 0px 10px 0px;
    }
}

p {
    //margin-top: 1rem;
    a {
        text-decoration: underline;
    }
}

.content {
    img {
        border: 0;
        max-width: 100%;
        height: auto;
        display: inline-block;
        border-radius: .2em;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300;
        margin-bottom: .5em;
    }
    h1,
    h2 {
        margin-top: 1em;
    }
}

main {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: auto;
        width: 100%;
        margin-bottom: 1em; //font-size: 0.875rem;
        caption {
            font-size: 0.8em;
            font-weight: 600;
            text-align: left;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 1.2em;
            border-width: 0 0 1px;
            border-style: solid;
            border-color: $color_mercury;
            text-align: right;
        }
        >caption+thead>tr:first-child>td {
            border-top: 0;
        }
        >colgroup+thead>tr:first-child>td {
            border-top: 0;
        }
        >thead:first-child>tr:first-child>td {
            border-top: 0;
        }
    }
    td {
        display: table-cell;
        word-wrap: break-word;
        padding: 12px 16px;
        line-height: 1.5;
        vertical-align: top;
        border-width: 1px 0 0;
        border-style: solid;
        border-color: $color_mercury;
        &.nowrap {
            white-space: nowrap;
        }
    }
    th {
        font-size: 1rem;
        display: table-cell;
        word-wrap: break-word;
        padding: 12px 16px;
        line-height: 1.5;
        border-width: 0 0 1px;
        border-style: solid;
        vertical-align: bottom;
        border-color: $color_mercury;
        &.nowrap {
            white-space: nowrap;
        }
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: $light_shade;
    }
}

@import "shadow-card";