--- 
layout: default 
---

<div class="row">
  {% for post in site.posts limit : 6 %}
  <div class="col-sm-12 col-md-6" style="padding: 20px; margin-top:10px;">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      <h2>{{ post.title }}</h2>
    </a>
    <div class="lead text-muted">
      {% if post.subtitle %} {{ post.subtitle }} {% else %} {{ post.excerpt | strip_html | truncatewords: 15 }} {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<hr />

<!-- Pager -->
<div class="clearfix">        
  <a class="btn btn-secondary float-right text-light" href="{{"/posts/page2" | relative_url }}">View All Posts &rarr;</a>
</div>

