.origin-widget.origin-widget-call-to-action-simple-light_dashed {
  zoom: 1;
  padding: 2em;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: url(http://massivescale.com/pages/wp-content/plugins/siteorigin-panels/widgets/img/textures/light-dashed.png) repeat #F6F6F6;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border: 1px solid #E0E0E0;
}
.origin-widget.origin-widget-call-to-action-simple-light_dashed:before {
  content: '';
  display: block;
}
.origin-widget.origin-widget-call-to-action-simple-light_dashed:after {
  content: '';
  display: table;
  clear: both;
}
.origin-widget.origin-widget-call-to-action-simple-light_dashed .title {
  line-height: 1.6em;
  margin: 0;
  color: #333333;
}
.origin-widget.origin-widget-call-to-action-simple-light_dashed .subtitle {
  line-height: 1.25em;
  margin: 0;
  color: #555555;
}
.origin-widget.origin-widget-call-to-action-simple-light_dashed .origin-widget-button {
  position: absolute;
  display: block;
  top: 50%;
  right: 2em;
  margin-top: -22px;
}
